!
version 15.2
!
service timestamps debug datetime msec
!
service timestamps log datetime msec
!
boot-start-marker
!
boot-end-marker
!
no aaa new-model
!
ip cef
!
no ipv6 cef
!
multilink bundle-name authenticated
!
ip forward-protocol nd
!
no ip http server
!
no ip http secure-server
!
ip bgp-community new-format
!
hostname Beograd
!
!
interface Fa1/1
 ip address 10.0.0.60 255.255.255.254
 description "To Sofia"
 speed auto
 duplex auto
!
interface Fa0/1
 ip address 10.0.0.62 255.255.255.254
 description "To Pristina"
 speed auto
 duplex auto
!
interface Fa0/0
 ip address 10.0.0.64 255.255.255.254
 description "To Podgorica"
 speed auto
 duplex auto
!
interface Fa1/0
 ip address 10.0.0.66 255.255.255.254
 description "To Sarajevo"
 speed auto
 duplex auto
!
interface Fa2/1
 ip address 10.0.0.68 255.255.255.254
 description "To Tompa"
 speed auto
 duplex auto
!
interface Fa2/0
 ip address 10.0.0.70 255.255.255.254
 description "To Szeged"
 speed auto
 duplex auto
!
!
!
!
!
!
!
# route-map RMap_Beograd_from_Pristina deny 10
#  match ip next-hop 10.0.0.63
#  set local-preference 1
#  set community 100:0 additive
# route-map RMap_Beograd_from_Pristina permit 100
# !
# route-map RMap_Beograd_from_Sarajevo deny 10
#  match ip next-hop 10.0.0.67
#  set local-preference 1
#  set community 100:0 additive
# route-map RMap_Beograd_from_Sarajevo permit 100
!
!
interface Loopback0
 ip address 128.0.9.1 255.255.255.0
 description "For Destination"
!
ip route 128.0.9.0/24 Null0
!
!
router bgp 100
 network 128.0.9.0 mask 255.255.255.0
 no synchronization
 !bgp log-neighbor-changes
 neighbor 10.0.0.65 remote-as 1000
 neighbor 10.0.0.65 description "To Podgorica"
 neighbor 10.0.0.65 advertisement-interval 0
 neighbor 10.0.0.65 soft-reconfiguration inbound
 neighbor 10.0.0.65 send-community
 neighbor 10.0.0.63 remote-as 1050
 neighbor 10.0.0.63 description "To Pristina"
 neighbor 10.0.0.63 advertisement-interval 0
 neighbor 10.0.0.63 soft-reconfiguration inbound
 neighbor 10.0.0.63 send-community
#  neighbor 10.0.0.63 route-map RMap_Beograd_from_Pristina in
 neighbor 10.0.0.67 remote-as 1110
 neighbor 10.0.0.67 description "To Sarajevo"
 neighbor 10.0.0.67 advertisement-interval 0
 neighbor 10.0.0.67 soft-reconfiguration inbound
 neighbor 10.0.0.67 send-community
#  neighbor 10.0.0.67 route-map RMap_Beograd_from_Sarajevo in
 neighbor 10.0.0.61 remote-as 1150
 neighbor 10.0.0.61 description "To Sofia"
 neighbor 10.0.0.61 advertisement-interval 0
 neighbor 10.0.0.61 soft-reconfiguration inbound
 neighbor 10.0.0.61 send-community
 neighbor 10.0.0.71 remote-as 1200
 neighbor 10.0.0.71 description "To Szeged"
 neighbor 10.0.0.71 advertisement-interval 0
 neighbor 10.0.0.71 soft-reconfiguration inbound
 neighbor 10.0.0.71 send-community
 neighbor 10.0.0.69 remote-as 1340
 neighbor 10.0.0.69 description "To Tompa"
 neighbor 10.0.0.69 advertisement-interval 0
 neighbor 10.0.0.69 soft-reconfiguration inbound
 neighbor 10.0.0.69 send-community
!
!
!
!
!
!
!
!
!
!
!
control-plane
!
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
!
end
